@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 8px;
  min-height: 100dvh;
}

.row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.allProducts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.allProducts input {
  width: 500px;
  height: 40px;
}

.allProducts .MuiInput-root {
  margin-bottom: 16px;
}

.allProducts__itemList {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* .item-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px;
}

.item-list li {
  background-color: gray;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  list-style-type: none;
  width: 25%;
  text-align: center;
} */

.allProducts__itemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
  text-align: center;
}

@media (max-width: 650px) {
  .allProducts__itemList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .allProducts__itemList {
    grid-template-columns: 1fr;
  }
}

.allProducts__itemList--item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.allProducts__itemList--item:hover {
  cursor: pointer;
}

.allProducts__itemList--itemImg {
  /* width: 100%;
  max-width: 150px; */
  width: 60%;
  aspect-ratio: 2/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.allProducts__itemList--itemTitle {
  font-weight: 200;
}

.allProducts__itemList--itemPrice {
  font-weight: 500;
  color: rgb(245, 180, 68);
}

/* Main Page */

.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

@media (max-width: 800px) {
  .mainPage {
    gap: 48px;
  }
}

.mainPage__title {
  font-weight: 400;
  font-size: 40px;
}

@media (max-width: 600px) {
  .mainPage__title {
    font-size: 36px;
  }
}

@media (max-width: 450px) {
  .mainPage__title {
    font-size: 32px;
  }
}

.mainPage__route {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.mainPage__route--title {
  font-weight: 400;
}

/* .mainPage__route--btn {
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid rgb(245, 192, 102);
  background-color: rgb(245, 180, 68);
  color: white;
}
 */

/* .mainPage__route--btn:hover {
  background-color: rgb(245, 192, 102);
  cursor: pointer;
} */

.mainPage__topSellers {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

@media (max-width: 450px) {
  .mainPage__topSellers {
    grid-template-columns: 1fr;
  }
}

.topSellers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.topSellers__item:hover {
  cursor: pointer;
}

.topSellers__item--img {
  max-width: 200px;
  width: 100%;
}

@media (max-width: 600px) {
  .topSellers__item--img {
    max-width: 150px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .topSellers__item--img {
    max-width: 100px;
    width: 100%;
  }
}

/* Nav Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(245, 192, 102);
  padding: 16px;
}

.logoWrapper a {
  text-decoration: none;
}

.logo {
  color: rgb(245, 192, 102);
  font-size: 36px;
  font-weight: 500;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  color: black;
  position: relative;
}

.menu-item:hover {
  text-decoration: underline;
  color: rgb(245, 192, 102);
}

.menu-item:first-child {
  margin-right: 32px;
  font-size: 18px;
}

.cartItemCount {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(245, 180, 68);
  color: white;
  width: 18px;
  height: 18px;
  font-weight: 300;
  font-size: 14px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid rgb(245, 192, 102);
  padding: 16px;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 8px;
  }
}

footer a {
  text-decoration: none;
  color: rgb(245, 180, 68);
}

footer a:hover {
  cursor: pointer;
  color: rgb(245, 192, 102);
  border-bottom: 1px solid rgb(245, 192, 102);
}

/* Product Page */

.productPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  min-height: 85vh;
}

.productPage__left,
.productPage__right {
  width: 50%;
}

.productPage__left {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.productPage__left img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.productPage__right--title {
  font-size: 40px;
  margin-bottom: 8px;
}

.productPage__right--category {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.productPage__right--desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
}

.productPage__right--price {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 16px;
}

.productPage__right--rating {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 36px;
}

@media (max-width: 1200px) {
  .productPage__right--title {
    font-size: 32px;
  }

  .productPage__right--category {
    font-size: 20px;
  }

  .productPage__right--desc {
    font-size: 16px;
  }

  .productPage__right--price {
    font-size: 32px;
  }

  .productPage__right--rating {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .productPage__right--title {
    font-size: 28px;
  }

  .productPage__right--category {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .productPage {
    flex-direction: column;
    gap: 24px;
    height: 100vh;
  }

  .productPage__left,
  .productPage__right {
    width: 100%;
  }

  .productPage__left {
    margin: 0;
  }

  .productPage__right {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .productPage__right--title {
    font-size: 24px;
  }

  .productPage__right--category {
    font-size: 16px;
  }

  .productPage__right--desc {
    font-size: 16px;
  }

  .productPage__right--price {
    font-size: 32px;
  }

  .productPage__right--rating {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .productPage__right--title {
    font-size: 20px;
  }

  .productPage__right--desc {
    font-size: 16px;
  }
}

.MuiCircularProgress-progress {
  stroke: rgb(245, 180, 68) !important;
}

/* Cart */

.cart {
  display: grid;
  grid-template-columns: 1fr 40%;
}

.cartEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 900px) {
  .cart {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .cart__right {
    border-top: 1px solid rgb(245, 180, 68);
    position: static;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid rgb(245, 180, 68);
  padding: 16px;
  width: 100%;
}

.cartItem:last-child {
  border: none;
}

.cartItem__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cartItem__desc--price {
  color: rgb(245, 180, 68);
}

.cartItem__desc--quantity {
  padding: 8px;
  font-size: 15px;
}

.cartItem__desc--remove:hover {
  cursor: pointer;
  color: rgb(245, 180, 68);
}

.cartItem--img {
  max-width: 60px;
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.cart__right {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 16px;
  border-right: 1px solid rgb(245, 180, 68);
  border-left: 1px solid rgb(245, 180, 68);
  border-bottom: 1px solid rgb(245, 180, 68);
  position: sticky;
  top: 0;
  height: 350px;
}

.cart__right button {
  width: 50%;
  margin: 0 auto;
}

.cart__right--subtotal,
.cart__right--tax,
.cart__right--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

/* MUI BUTTON */

.MuiButton-root {
  padding: 12px 36px !important; 
  font-size: 16px !important;;
  border-radius: 16px !important; ;

  border: 1px solid rgb(245, 192, 102) !important;;
  background-color: rgb(245, 180, 68) !important;;
  color: white !important;;
}

.MuiButton-root:hover {
  background-color: rgb(245, 192, 102) !important;;
}

/*    sx={{
              paddingY: "12px",
              paddingX: "36px",
              fontSize: "16px",
              borderRadius: "16px",
              border: "1px solid rgb(245, 192, 102)",
              backgroundColor: "rgb(245, 180, 68)",
              color: "white",
              ":hover": {
                backgroundColor: "rgb(245, 192, 102)",
              },
            }} */
